/* public.css */
.container #fluff {
  box-shadow: 0 0 40px #edebec;
  border: 3px solid #f2dde4;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  position: absolute;
  gap: 0.5rem;
  transition: all 0.5s;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#fluff {
  position: absolute;
  overflow: hidden;
  width: 860px;
  height: 420px;
  margin: 10px;
}

#fluff img {
  width: 100%;
  transition: opacity 0.7s ease-in-out;
}

img.image {
  position: absolute;
  top: 0;
  left : 0;
  opacity: 0;
}

#fluff:hover img {
  opacity: 0;
  pointer-events: none;
}

#fluff:hover img.image {
  opacity: 1;
  pointer-events: all;
}

#menu-tile, #specials-tile, #map-tile {
  height: 290px;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
  border: 2px solid #ffffff;
  overflow: hidden;
  border-radius: 15px;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow:0px 2px 5px 1px #ffffff;
}
#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}
#map-tile {
  background: white;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: double ;
  background-color: #000000;
  color: #ffffff;
  opacity: .8;
}
/* END HOME PAGE */

/* MENU CATEGORIES PAGE */
.category-tile {
  position: relative;
  border: 2px solid #ffffff;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 2px #ffffff;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
/* END MENU CATEGORIES PAGE */

/* SINGLE CATEGORY PAGE */
.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-tile hr {
  width: 80%;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: .6em;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #ffffffcc;
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 200px;
  max-height: fit-content;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .9em;
  font-style: italic;
}
/* END SINGLE CATEGORY PAGE */


/********** Large devices only **********/
@media (min-width: 1200px) {
  .container #fluff {
      background: url('../images/fluff_1200-1.jpg') no-repeat;
      background-position: center;
      background-size: cover; /* Ensure background image covers the container */
      position: relative;
      margin: 10px auto 25px;
      display: flex;
      flex-direction: column;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container #fluff {
    background: url('../images/fluff_991-1.jpg') no-repeat;
    background-position: center;
      background-size: cover; /* Ensure background image covers the container */
      position: relative;
      margin: 10px auto 25px;
      display: flex;
      flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container #fluff {
    background: url('../images#fluff_768.jpg') no-repeat;
    background-position: center;
      background-size: cover; /* Ensure background image covers the container */
      position: relative;
      margin: 10px auto 25px;
      display: flex;
      flex-direction: column;
  }
}

@media (max-width: 767px) {
  .container #fluff {
    margin-top: 30px;
    padding: 0;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
